<form (submit)="this.saveAddress()">
  <h2 class="subtitle">Adresse</h2>
  <div class="field">
    <label class="label">City</label>
    <div class="control">
      <input ngModel class="input" type="text" name="city">
    </div>
    <p class="help">This is a help text</p>
  </div>
  <div class="field">
    <label class="label">Street</label>
    <div class="control">
      <input ngModel class="input" type="text" name="street">
    </div>
    <p class="help">This is a help text</p>
  </div>
  <div class="field">
    <label class="label">Country</label>
    <div class="control">
      <input ngModel class="input" type="text" name="country">
    </div>
    <p class="help">This is a help text</p>
  </div>
  <div class="field">
    <label class="label">Info</label>
    <div class="control">
      <input ngModel class="input" type="text" name="info">
    </div>
    <p class="help">This is a help text</p>
  </div>
  <div class="field">
    <label class="label">State</label>
    <div class="control">
      <input ngModel class="input" type="text" name="state">
    </div>
    <p class="help">This is a help text</p>
  </div>
  <div class="field">
    <label class="label">Zip</label>
    <div class="control">
      <input ngModel class="input" type="number" name="zip">
    </div>
    <p class="help">This is a help text</p>
  </div>
  <div class="field">
    <label class="label">Zip</label>
    <div class="control">
      <button type="submit" class="button is-success">Speichern</button>
    </div>
  </div>
</form>
