<aside class="menu">
  <ul class="menu-list">
    <li>
      <a [routerLink]="['/leads']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: false}">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faBuilding"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/invoices']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faDollarSign"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/invoices']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faUser"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['invoices']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faCog"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/auth', 'login']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faTrash"></fa-icon>
        </span>
      </a>
    </li>
  </ul>
</aside>
