<aside class="menu">
  <ul class="menu-list">
    <li>
      <a>
        <span class="icon is-large">
          <figure class="image is-48x48">
            <img class="is-rounded" src="https://image.shutterstock.com/image-vector/man-character-face-avatar-glasses-450w-542759665.jpg">
          </figure>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/leads']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: false}">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faBuilding"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/invoices']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faDollarSign"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/invoices']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faUser"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['invoices']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faCog"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/auth', 'login']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="icons.faTrash"></fa-icon>
        </span>
      </a>
    </li>
  </ul>
</aside>
