<aside class="menu">
  <ul class="menu-list">
    <li>
      <a [routerLink]="['leads', 'all']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: false}">
        <span class="icon is-large">
          <fa-icon [icon]="faBuilding"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['invoices']" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="faDollar"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a routerLink="users" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="faUser"></fa-icon>
        </span>
      </a>
    </li>
    <li>
      <a routerLink="settings" routerLinkActive="is-active">
        <span class="icon is-large">
          <fa-icon [icon]="faSettings"></fa-icon>
        </span>
      </a>
    </li>
  </ul>
</aside>
